# dependencies
node_modules/

# build output
dist/
build/

# environment variables
.env
.env.*
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# local files
*.local

# coverage
coverage/

# vite
.vite/

# eslint cache
.eslintcache